<table>
    <thead>
        <tr>
            <th>Kurs</th>
            <th>Veranstaltungsort</th>
            <th>Adresse des Veranstaltungsortes</th>
            <th>Öffentlich erreichbar?</th>
            <th>Kursleiter</th>
            <th>Alle Termine</th>
          </tr>
    </thead>
      <tbody>
        <tr *ngFor="let course of storeService.courses">
            <td>{{course.name}}</td>
            <td>{{course.eventLocation.name}}</td>
            <td>{{course.eventLocation.address}}</td>
            <td>{{course.eventLocation.venueByPublicTansport == true ? "Ja" : "Nein"}}</td>
            <td>{{course.instructor}}</td>
            <td>
                <ul>
                    <li *ngFor="let date of course.dates">
                        <span>{{date.begin | date:"MMM dd, yyyy 'um' hh:mm a" }}</span> - <span>{{date.end | date:"MMM dd, yyyy 'um' hh:mm a"}}</span>
                    </li>
                </ul>
            </td>
        </tr>
      </tbody>
</table>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Geburtsdatum</th>
            <th>Kurs</th>
          </tr>
    </thead>
      <tbody>
        <tr *ngFor="let registration of storeService.registrations">
            <td>{{registration.name}}</td>
            <td>{{registration.birthdate}}</td>
            <td>{{registration.course.name}}</td>
        </tr>
      </tbody>
</table>
<button [ngClass]="page == storeService.currentPage ? 'active' : ''" (click)="selectPage(page)" type="button" *ngFor="let page of returnAllPages()">{{page}}</button>