button.active {
    background-color: orange;
}

.data-header {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.button-cfg {
    max-width: 40px;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 10; /* Höhere Priorität */
  }
  
  mat-card {
    position: relative;
  }
  
  .content-blur {
    filter: blur(2px); /* Optional, um den Hintergrund zu „verblassen“ */
  }