<div class="form-container">
    <form class="form-cfg" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="child-cfg">
            <h2>Zum Kurs anmelden!</h2>
        </div>
        <div class="child-cfg">
            <mat-form-field class="field-cfg">
                <mat-label>Name</mat-label>
                <input matInput required type="input" formControlName="name">
                <mat-error>Bitte Namen eingeben</mat-error>
            </mat-form-field>
        </div>
        <div class="child-cfg">
            <mat-form-field class="field-cfg">
                <mat-label>Geburtsdatum</mat-label>
                <input matInput required [matDatepicker]="picker"  formControlName="birthdate">
                <mat-hint>TT.MM.JJJJ</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Bitte Geburtsdatum eingeben</mat-error>
            </mat-form-field>
        </div>
        <div class="child-cfg">
            <mat-form-field class="field-cfg">
                <mat-label>Auswählen</mat-label>
                <mat-select required formControlName="courseId">
                    <mat-option *ngFor="let course of storeService.courses" [value]="course.id">{{course.name}}, {{course.instructor}}</mat-option>
                </mat-select>
                <mat-error>Sie müssen einen Kurs auswählen</mat-error>
            </mat-form-field>
        </div>
        <div class="child-cfg">
            <mat-checkbox formControlName="newsletter">Ich abonniere den Newsletter</mat-checkbox>
        </div>
        <div class="child-cfg">
            <button [disabled]="registrationForm.invalid" mat-flat-button type="submit">Erfassen</button>
        </div>
    </form>
</div>