<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h2>Zum Kurs anmelden!</h2>
    <input placeholder="Name" type="input" formControlName="name"><br />
    <input placeholder="Geburtsdatum" type="date" formControlName="birthdate"><br />
    <select formControlName="courseId">
        <option value="" disabled>Bitte auswählen</option>
        <option *ngFor="let course of storeService.courses" [ngValue]="course.id">{{course.name}}, {{course.instructor}}</option>
    </select>

    <button type="submit">Erfassen</button>
</form>